# mac os x

Build/
DerivedData/
.com.apple.timemachine.supported
.DocumentRevisions-V100
.TemporaryItems
.Trashes
.fseventsd
.DS_Store
DerivedData
build/
profile

# visual studio
Intermediates/
Outputs/
*.obj
*.tlog
*.suo
*.vs
.vs
*.exp
*.ilk
*.CppCleanLog
Lyre.lib
Lyre.dll
LyreTest.exe
*.pdb
*.sdf
*.filters
*.user
*.idb
*.opendb
*.sdf